/* public/fonts/Metropolis-Regular.otf */
@font-face {
  font-family: "Avenir Next";
  src: url("./fonts/Metropolis-Regular.otf") format("opentype");
}

/* .bigwhite::after{
    content: "\A";
} */

.bigwhite {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #dddff1;
  top: 0.3em;
  position: relative;
}

.bigwhite2 {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #dddff1;
  top: 0.1em;
  position: relative;
}

.bigwhite3 {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;

  /* or 34px */
  text-align: center;
  letter-spacing: 0.02em;

  color: #e7e7e7;
  bottom: 1.6em;
  position: relative;
}

.bigwhite4 {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;

  /* or 34px */
  text-align: center;
  letter-spacing: 0.02em;

  color: #e7e7e7;
  bottom: 1.6em;
  position: relative;
}

.underbig {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #878eca;
  white-space: pre;
  display: block;
  top: 0.8em;
  position: relative;
}
.underbig2 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #878eca;
  white-space: pre;
  display: block;
  top: 0.3em;
  position: relative;
}

.maintable {
  overflow: none;
  position: relative;
  max-height: 38vh;
  top: 1.2em;
}

.maintable2 {
  overflow: none;
  position: relative;
  max-height: 38vh;
  top: 0.7em;
}

.table {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: inline-table;
  padding-bottom: 0.7em;
}

.table2 {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: inline-table;
  padding-bottom: 0.7em;
}

.left_col {
  float: left;
  /* width:300px; */
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;

  /* or 19px */
  letter-spacing: 0.02em;

  color: #e7e7e7;
  display: block;
}
.right_col {
  float: right;
  display: block;
  /* width:300px; */
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  /* or 19px */
  text-align: right;
  letter-spacing: 0.02em;

  color: #e7e7e7;
}

.half {
  height: 19vh;
  width: 100%;
  display: block;
  position: relative;
}

.halfone {
  /* background-color: tomato; */

  border-bottom: 0.25px solid #e7e7e7;
}

.halftwo {
  /* background-color: tomato; */

  /* border-top: 0.2px solid aliceblue; */
}

.brent {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 120px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #878eca;
}

.map {
  width: 100%;
  height: 100%;
  border: 1px solid white;

border-radius: 1em;

background: white;
  /* background-color: #1C1E43; */
}

svg {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  position: relative;
  display: block;
  left: 0;
  right: 0;
  /* background-color: tomato; */
}

.apexcharts-title-text{
fill: white;
}

tspan{
  fill: white;
}

.chartpose {
  position: relative;

  width: 29.6vw;
  
  height: 28.9vh;
  
  min-height: 28.8vh;
  
  display: block;
  
  max-height: 29vh;
}

.btns{
  width: 29.1vw;
  min-height: 3.9vh;
  position: absolute;
  justify-content: center;
  display: flex;
  bottom: 0vh;
}

.btn{position: relative;
  /* bottom: 34px; */
  width: 50%;
  height: 3.9vh;
  background: none;
  border: none;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #E7E7E7;
  opacity: 0.4;
  border-bottom: 2px #66C7DC solid;}
  :focus {outline:none;} ::-moz-focus-inner {border:0;}
/* .div{
  height: 100%;
  width: 100%;
}

path {
  fill: #232554;
}

g{
  height: 100%;
  width: 100%;
}

.eia-visualization {
  height: 100%;
  width: 100%;
}
span.EIA-map-title {
position: absolute;
z-index: 10000;
left: 100px;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
.jvectormap-legend{
color: black;
background-color: transparent;
font-family: Arial, Helvetica, sans-serif;
}
.jvectormap-legend-title{
  font-weight: normal;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick {
  width: 60px;
} */

/*.map-unselected {
  fill: #232554;
  background: #232554;
border: 0.25px solid rgba(255, 255, 255, 0.5);
}
 
.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

.row {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}


.map-img{
  width: 100%;
height: 100%;
} */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background: none;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #878eca;
  border-radius: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #878eca;
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: white;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: white;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
.scrollbar-container {
  position: relative;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map*/
