/* public/fonts/Metropolis-Regular.otf */
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/Metropolis-Regular.otf") format("opentype");
}

.underbig {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #878eca;
  white-space: pre;
  display: block;
  top: 0.8em;
  position: relative;
}

/* .bigwhite::after{
    content: "\A";
} */

.bigwhite {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #dddff1;
  top: 0.3em;
  position: relative;
}

.maintable {
  overflow: scroll;
  position: relative;
  max-height: 38vh;
  top: 1.2em;

}

.table {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: inline-table;
  padding-bottom: 0.7em;
}

.left_col {
  float: left;
  /* width:300px; */
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;

  /* or 19px */
  letter-spacing: 0.02em;

  color: #e7e7e7;
  display: block;
}
.right_col {
  float: right;
  display: block;
  /* width:300px; */
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  /* or 19px */
  text-align: right;
  letter-spacing: 0.02em;

  color: #e7e7e7;
}


.maintable::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
} 


  
  .scroll {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
  }
  
  .content {
    height: 500px;
  }

  
  .scroll1::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll1::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  .scroll1::-webkit-scrollbar-thumb {
    background: #666; 
  }
  
  .scroll2::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll2::-webkit-scrollbar-thumb {
    background: #666; 
  }
  
  .scroll3::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll3::-webkit-scrollbar-thumb {
    background: #ddd; 
  }
  
  .scroll3::-webkit-scrollbar-track {
    background: #666; 
  }
  
  .scroll4::-webkit-scrollbar {
    width: 10px;
  }
   
  .scroll4::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
  .scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
  
  .scroll5::-webkit-scrollbar {
    width: 15px;
  }
   
  .scroll5::-webkit-scrollbar-thumb {
    background: #666;
  }
  
  .scroll5::-webkit-scrollbar-track {
    background: #ddd;
  }
  
  .scroll5::-webkit-scrollbar-button {
    background: #666;
    height: 15px;
    border-radius: 50%;
  }
  